# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
example/android/app/.cxx/Debug/5x1h6x11/hash_key.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/additional_project_files.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/android_gradle_build_mini.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/android_gradle_build.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/build_file_index.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/build.ninja
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/cmake_install.cmake
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeCache.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/configure_fingerprint.bin
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/metadata_generation_command.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/prefab_config.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/symbol_folder_index.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/reply/cache-v2-7d46c353ee326402b50d.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-a786b35294ff75423857.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-b1b0e87181d8af04a83e.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/.cmake/api/v1/reply/index-2025-04-07T08-47-56-0132.json
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
example/android/app/.cxx/Debug/5x1h6x11/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/additional_project_files.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/android_gradle_build_mini.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/android_gradle_build.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/build_file_index.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/build.ninja
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/cmake_install.cmake
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeCache.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/configure_fingerprint.bin
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/metadata_generation_command.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/prefab_config.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/symbol_folder_index.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/reply/cache-v2-41dd82e7cd1a5a4f8df1.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-51eb5fc3fa573e1a1435.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-8161900434119f84d889.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-07T08-48-06-0411.json
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
example/android/app/.cxx/Debug/5x1h6x11/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/x86/additional_project_files.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/android_gradle_build_mini.json
example/android/app/.cxx/Debug/5x1h6x11/x86/android_gradle_build.json
example/android/app/.cxx/Debug/5x1h6x11/x86/build_file_index.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/build.ninja
example/android/app/.cxx/Debug/5x1h6x11/x86/cmake_install.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeCache.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/configure_fingerprint.bin
example/android/app/.cxx/Debug/5x1h6x11/x86/metadata_generation_command.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/prefab_config.json
example/android/app/.cxx/Debug/5x1h6x11/x86/symbol_folder_index.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/reply/cache-v2-4c07333672a0368062a8.json
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/reply/cmakeFiles-v1-bdfa9fd530b6c9dab919.json
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/reply/codemodel-v2-6154d33622a888a17a25.json
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
example/android/app/.cxx/Debug/5x1h6x11/x86/.cmake/api/v1/reply/index-2025-04-07T08-48-06-0922.json
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
example/android/app/.cxx/Debug/5x1h6x11/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/x86_64/additional_project_files.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/android_gradle_build_mini.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/android_gradle_build.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/build_file_index.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/build.ninja
example/android/app/.cxx/Debug/5x1h6x11/x86_64/cmake_install.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeCache.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/configure_fingerprint.bin
example/android/app/.cxx/Debug/5x1h6x11/x86_64/metadata_generation_command.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/prefab_config.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/symbol_folder_index.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/query/client-agp/cache-v2
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/reply/cache-v2-d5e13d7b78e388798687.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-72200a8065909ce06ce3.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/reply/codemodel-v2-ecf9761761abce0ca27c.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/.cmake/api/v1/reply/index-2025-04-07T08-48-07-0451.json
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/cmake.check_cache
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/rules.ninja
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/TargetDirectories.txt
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
example/android/app/.cxx/Debug/5x1h6x11/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
